<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Simple Server</title>
    <meta charset="utf-8" />
    <script src="https://cdn.jsdelivr.net/npm/three@0.123.0/build/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.123.0/examples/js/controls/OrbitControls.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.160.1/examples/js/loaders/FontLoader.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.160.1/examples/js/geometries/TextGeometry.js"></script>
    <style>
      body {
        margin: 0;
        overflow: hidden;
      }
      canvas {
        display: block;
      }
    </style>
  </head>
  <body>
    {% block content %} {% endblock %}
  </body>
</html>
